.ptag {
    font-size: 20pt;
    font-weight: 100;

    line-height: 60px;
    letter-spacing: 20px;
}

a {
    font-size: 30pt;
    text-decoration:none ;
    color: blue  ;
}

table {
    border-collapse: collapse;
}