<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>달을 위한 웹페이지</title>
</head>
<body>
    <h1>MOON</h1>
    <img src="https://img2.quasarzone.com/editor/2021/12/24/9db4869b12f3054440934f099308e0aa.png" alt="">
</body>
</html>